<div class="container mt-5">
  <h1 class="display-4">Welcome to My Rails Assignment 2 App!</h1>
  <p class="lead">This is a database for a list of all the Metal Gear games and the characters in the series</p>
  <hr class="my-4">
  <p>More information about the app will be available as we develop more features.</p>
</div>

